<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add	name="CoffeeShop"
					connectionString="
								Data Source=DESKTOP-7CVAKMV;
								Initial Catalog=CoffeeShop;
								Integrated Security=True;
								Connect Timeout=30;
								Encrypt=True;
								TrustServerCertificate=True;
								ApplicationIntent=ReadWrite;
								MultiSubnetFailover=False"
				
						/>
	</connectionStrings>
</configuration>